:root {
  --text-color: #fff;
  --primary-theme-color: #79a0e2;
  --secondary-theme-color: #3ab2f8;
  --primary-theme-color-transparent: #15408a80;
  --highlight-color: gold;
  --button-color: transparent;
  --inverse-theme-color: rgb(228, 228, 228);
  --inverse-text-color: #e4a1bd;
  scroll-behavior: smooth;
}

.body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

.header-nav__logo,
.header-nav__menu-icon,
.header-nav__close-icon {
  height: 100%;
}

.header-nav__menu-icon-container,
.header-nav__link-item--close-icon-container {
  cursor: pointer;
  height: 2rem;
}

.header-nav__link-list,
.section,
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}

.header--scroll {
  background-color: var(--inverse-theme-color);
  box-shadow: 0 0.125rem 0.125rem 0.125rem var(--primary-theme-color-transparent);
}

.header-nav {
  padding: 0.5rem 0;
  transition: all 0.5s;
}

.header-nav--scroll {
  padding: 0.25rem 0;
}

.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-nav__logo-container {
  display: flex;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.header-nav__menu-icon--scroll {
  fill: var(--inverse-text-color);
}

.header-nav__link-list {
  gap: 2rem;
  position: fixed;
  background-image: linear-gradient(to top, var(--secondary-theme-color), var(--primary-theme-color));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.header-nav__link-list--open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link-item--close-icon-container {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.header-nav__link {
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: all 0.25s;
}

.header-nav__link:hover {
  color: var(--highlight-color);
  border-bottom: 0.125rem solid var(--inverse-theme-color);
}

.cover {
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-container {
  position: relative;
  padding: 0 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.cover__illustration-container {
  display: flex;
  width: 100%;
  margin: 0;
}

.cover__illustration {
  width: 100%;
}

.cover__message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cover__title {
  font-weight: 800;
  margin: 0;
}

.cover__subtitle {
  font-weight: 500;
  margin: 0;
}

.cover__button {
  position: relative;
  z-index: 10;
  align-self: center;
  padding: 0.5rem 2.5rem;
  border: 0.125rem solid var(--inverse-theme-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.5s;
  font-weight: 700;
}

.cover__button:hover {
  background-color: var(--inverse-theme-color);
  color: var(--inverse-text-color);
}

.cover__wave-container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  width: 100%;
}

.cover__wave {
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/cover.svg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 2.5rem;
  text-shadow:
    0 0 0.5rem var(--primary-theme-color),
    0 0 1rem var(--primary-theme-color),
    0 0 1.5rem var(--primary-theme-color),
    0 0 2rem var(--primary-theme-color);
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--primary-theme-color-transparent);
  pointer-events: none;
  text-align: center;
  color: var(--inverse-text-color);
  transition: all 0.5s;
  --transform: translateY(-100vh);
  --transition: transform .5s;
}

.modal--show {
  opacity: 1;
  pointer-events: auto;
  --transform: translateY(0);
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 256px;
  max-height: 90%;
  background-color: var(--inverse-theme-color);
  border-radius: 0.5rem;
  padding: 2rem;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__image-container {
  width: 100%;
  margin: 0;
}
.modal__image {
  width: 100%;
}

.modal__title {
  font-weight: 600;
  margin: 0;
}

.modal__subtitle {
  margin: 0;
  font-weight: 500;
}

.modal__paragraph {
  margin: 0;
  font-weight: 300;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__button {
  align-self: center;
  padding: 0.5rem 2.5rem;
  border: none;
  background-color: var(--primary-theme-color);
  border: 0.125rem solid var(--primary-theme-color);
  border-radius: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.5s;
  font-weight: 700;
  cursor: pointer;
}

.modal__button:hover {
  background-color: var(--inverse-theme-color);
  color: var(--primary-theme-color);
  border: 0.125rem solid var(--secondary-theme-color);
}

@media (min-width: 854px) {

  .header-nav__close-icon,
  .header-nav__menu-icon {
    display: none;
  }

  .header-nav-container,
  .cover-container {
    max-width: 1024px;
    margin: auto;
    padding: 0;
  }

  .header-nav__link-list {
    flex-direction: row;
    position: static;
    width: auto;
    background: transparent;
    opacity: 1;
    pointer-events: auto;
  }

  .header-nav__link--scroll {
    color: var(--inverse-text-color);
  }

  .cover-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .cover__message {
    gap: 2rem;
  }

  .section {
    font-size: 5rem;
  }
}